<p>user-list works!</p>
<div>
  <div *ngIf="userName">Bienvenido, {{ userName }}!</div>
  <div *ngIf="isAdmin">
  <button type="button" (click)="mostrarSolicitudes()">Solicitudes</button>
  <tr>Solicitudes</tr>
  <td>{{ solicitudes }}</td>
</div>

  <button *ngIf="!isAdmin" (click)="preguntar()">Preguntar</button>
<table>
    <thead>
       <tr>
         <th>UserCode</th>
         <th>UserName</th>
          <th>point</th>
       </tr>
    </thead>
    <tbody>
       <tr *ngFor="let item of users">
         <td>{{ item.UserCode }}</td>
         <td>{{ item.UserName }}</td>
         <td>{{ item.point }}</td>
       </tr>

      

    </tbody>
   </table>